PORT=8000
DATABASE_URL=sqlite:///./app.db
SECRET_KEY=supersecretkey_change_in_production

GEO_PROVIDER_A_URL=http://ip-api.com/json/
GEO_PROVIDER_B_URL=https://ipapi.co/

GEO_ENABLED=true

RATE_LIMIT_PER_IP=10/minute
RATE_LIMIT_PER_WIDGET=5/minute

MAX_REQUEST_SIZE=65536

SIDE_EFFECT_ENABLED=true
SIDE_EFFECT_FAIL=false